# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/01_Update/*.user
/02_Render/*.user
/03_Input/*.user
/03_Input/*.filters
/04_Scene/*.user
